<%- include('../partials/header') %>
  <table class="container">
    <thead>
      <tr>
        <th class="col">Airline</th>
        <th class="col">Airport</th>
        <th class="col">Flight Number</th>
        <th class="col">Departs</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(f => { %>
            <!-- Write the line of EJS to iterate over flights using forEach -->
                <tr>
                    <td class="col"><%= f.airline %></td>
                    <td class="col"><%= f.airport %></td>
                    <td class="col"><%= f.flightNo %></td>
                    <td class="col"><%= f.departs %></td>
                    <td class="col"><a href="/flights/<%= f._id %>">DETAILS</a></td>
                    <td>
                      <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
                        <button type="submit"> Delete</button>
                      </form>
                    </td>
                </tr>
                <% }); %>
            <!-- Close the forEach using EJS here -->
    </tbody>
  </table>
  <%- include('../partials/footer') %>